body{
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/039/001/520/small_2x/simple-blur-curve-wave-background-video.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}